<div class ="container">
  <div class="row">
    <div class="sidebar-nav span3">
      <%= image_tag(@user.image, {:size => '100x60'}) %>
      <h3><%= @user.name %></h3>
        
      <% if current_user %>
        <div id="follow_user">
        <%= render :partial => "follow_user", :locals => {:user => @user} %>
        </div>
      <% end %>
    
    </div>
    <div class="span9">
      <div class="tabbable"> <!-- Only required for left/right tabs -->
        <ul class="nav nav-tabs">
          <li class="active"><a href="#tab1" data-toggle="tab">記事</a></li>
          <li><a href="#tab2" data-toggle="tab">質問</a></li>
        </ul>

        <div class="tab-content">
          <div class="tab-pane active" id="tab1">
            <table class="table table-bordered  table-striped table-hover">
            <thead>
              <tr><th>Articles</th></tr>
            </thead>
            <tbody> 
            <% @user.articles.each do |article| %>
              <tr>
                <td><%= link_to article.title, article_path(article) %></td>
              </tr>
            <% end %>
            </tbody>
            </table>
          </div>
          <div class="tab-pane" id="tab2">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

  
