<div class="container-fluid">

  <h1>すべての記事一覧</h1>

  <div class="span8">
    <table class="table table-bordered  table-striped table-hover">
    <% @articles.each do |article| %>
      <div class="article">
        <h2>
          <%= link_to article.title, article_path(article) %>
          <span class="date"><%= article.created_at.strftime("%b %d") %></span>
        </h2>

        <span class="author"><%= article.user_name %></span>
        <p><%= article.content %></p>
      </div>
      <hr />
    </table>
    <% end %>
  </div>
</div>