 <% flash.each do |name, msg| %>
    <div class="alert alert-info fade in">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <%= flash[:notice]%>
    </div>
<% end %>

<h1>Home</h1>

<body>

<%= link_to 'New Article', new_article_path, :class => "btn"  %>
<hr  />
<div class="extensions-panel span7">

<div class="tabbable"> <!-- Only required for left/right tabs -->
  <ul class="nav nav-tabs">
    <li class="active"><a href="#tab1" data-toggle="tab">Section 1</a></li>
    <li><a href="#tab2" data-toggle="tab">Section 2</a></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="tab1">
      <%= render :partial => "article_list" %>
    </div>
    <div class="tab-pane" id="tab2">
      <p>Howdy, I'm in Section 2.</p>
    </div>
  </div>
</div>
</div>

</body>

