/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require jquery.ui.all
 
*/


body{
  		padding-top: 20px;
     	background-color: #FFF;

}
.container{
  	padding-top: 15px;
	margin:0 auto;
	width:520px;
}
.row {
  	padding-top: 15px;

}

.article h2 a {
	color: #00ADEC;
	text-decoration: none;
}
.article h2 a:hover{
	color: #00ADEC;
	text-decoration: underline;
}
.article h2 span.date {
	font-size: 24px;
	font-weight: normal;

}

.css1 { font-size: 1.0em; }
.css2 { font-size: 1.2em; }
.css3 { font-size: 1.4em; }
.css4 { font-size: 1.6em; }
